body{
    background-image: url(./recursos/FondoGalaxia.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover; 
    background-position: center;
    font-family: 'Catamaran', sans-serif;
    
}


    
  

.logo{
    width: 5em;
    height: 5em;
    color: transparent;
    background-image: url(./recursos/Logo-Teatro-Las-Grutas-circulo.png);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
  
}

nav{  
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;

}

.menuDeNavegacion{
    list-style: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

nav>ul>li {
    color: aliceblue;
}

.tituloDeLaPagina{
    background-color: #9C4735;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.textoDescripcionPrincipal{
    text-align: center;
    color: #332B2B;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}